# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
www/build/
$RECYCLE.BIN/
platforms/android
platforms/ios/*
platforms/android/*
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle

*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build

platforms/android/gen
platforms/android/out

platforms/android/build

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
