
<ion-navbar *navbar>
  <ion-title>
    Contact {{time}}
  </ion-title>
</ion-navbar>

<ion-content>
  <ion-content padding>
  <ion-list>
    <ion-list-header class="contact-page-content">{{message}}</ion-list-header>
    <ion-item *ngFor="let b of inRange">
      <ion-icon name="ionic" item-left class="contact-page-content"></ion-icon>
      {{b.minor}} | {{b.rssi}}  {{b.proximity}}
    </ion-item>
  </ion-list>
  <ion-item> 
    <ion-label>Use logging?</ion-label>
    <ion-checkbox [(ngModel)]="canLog" dark checked="false"></ion-checkbox>
</ion-item>

<ul>
  <li *ngFor="let l of logs">{{l}}</li>
  </ul>

</ion-content>
